.huge {
  font-size: 2rem;
  font-weight: 600;
}

.big {
  font-size: 1.75rem;
  font-weight: 600;
}

.small {
  font-size: .75rem;
  font-weight: 600;
}

.smaller {
  font-size: .6875rem;
  font-weight: 600;
}

h1, .h1 {
  font-weight: normal;
}

.microcopy {
  font-size: .75rem;
  font-weight: 400;
  color: $body-color-light;
}

// Add grey text colours
@each $color, $value in $grays {
  .text-gray-#{$color} {
    color: $value,
  }
}