<nav class="nav  mb-5  navbar-dark bg-dark pb-2">
  <a class="nav-link active" href="#">Client</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled</a>
</nav>